*{
    margin: 0px;
}

.headerbox{
    width: 100%;
    box-shadow: 0 4px 12px rgba(black, 0.1);
    background-color: #3B3B3B;
}
    .headerbox .ul li{
        font-size: 0;
        list-style: none;
    }

    .headerbox li{
        font-family: sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: white;
            
        display: inline-block;
        padding: 15px;
        position: relative;
    }

    .headerbox li:hover{
        cursor: pointer;
        background-color: #575757;
    }


.divactividades{
    width: 90%;
    margin: 5% auto 0 auto;
    display: inline-flex;
    
}

    .apendientesbox{
        width: 49%;
        box-shadow: 0 4px 12px rgba(black, 0.1);
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


    .acompletadasbox{
        width: 49%;
        box-shadow: 0 4px 12px rgba(black, 0.1);
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

        .activiidadesp{
            width: 50%;
            border: 1px solid black;
            background-color: #F2E851;
        }

        .activiidadesp:hover{
            background-color: #F1E868;
        }


        .activiidadesc{
            width: 50%;
            border: 1px solid black;
            background-color: #6AC153;
        }

        .activiidadesc:hover{
            background-color: #7BC168;
        }


/*overlay*/
.overlay{
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

    .overlay.active{
        visibility: visible;
    }
    
.popup{
    background: #F8F8F8;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    text-align: center;
    width: 40%;

    /*asd*/
}

    .popup .btn-cerrar-popup{
        font-size: 18px;
        line-height: 16px;
        display: block;
        text-align: right;
        color: #BBBBBB;
        transition: .3s ease all;
        text-decoration: none;
    }

        .popup .btn-cerrar-popup:hover{
            color: black;
        }

    .popup h3{
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .popup h4{
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 40px;
    }
    .popup form .contenedor-input textarea{
        width: 100%;
        margin-bottom: 20px;
        height: 52px;
        line-height: 52px;
        font-size: 18px;
        text-align: justify;
        border: 1px solid #BBBBBB;
    }

    .popup form .btnentregrar{
        padding: 0 20 px;
        height: 40px;
        line-height: 40px;
        border: none;
        color: white;
        background-color: teal;
        border-radius: 3px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        cursor: pointer;
    }

