*{
    margin: 0px;
}

.headerbox{
    width: 100%;
    box-shadow: 0 4px 12px rgba(black, 0.1);
    background-color: #3B3B3B;
}
    .ul li{
        font-size: 0;
        list-style: none;
    }

    .headerbox li{
        font-family: sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: white;
            
        display: inline-block;
        padding: 15px;
        position: relative;
    }

    .headerbox li:hover{
        cursor: pointer;
        background-color: #575757;
    }



.container{
    width: 80%;
    margin: 5% auto 0 auto;
    box-shadow: 0 4px 12px rgba(black, 0.1);
    background-color: #FCFCFC;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    .container p{
        text-align: justify;
    }
